.AddPost{
    border-style: groove;
    margin-bottom: 30px;
    padding: 2px;
    margin-top: 50px;
    height: auto;
    width: auto;
}
#description{
    width: 100%;
    height: 90px;
    resize: none;
}
#title{
    width: 40%;
    height: 40px;
    resize: none;
}

#addPostButton{
    padding:5px;
}

#fileInput{
    padding: 10px;
}

#photoPreview{
    max-width: 100%;
    max-width: 400px;
}